*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: ##FFFFF3;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
blockquote{
	font-style: italic;
}

.main_title { font-size: 4.5rem; margin-bottom: 2.5rem; font-weight: 400;}
.title {
	font-size: 2.5rem;
	margin-bottom: 100px;
	font-weight: 400;
	position: relative;
	color:#3999b5;
	text-align: center;
}

.title::before {
	content: "";
	width: 300px;
	height: 3px;
	background-color: #d7eaf0;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -150px;

}
.subtitle { font-size: 1.5rem;}
.titleSmall { font-size: 18px;}
.titleSuperSmall { font-size: 14px; font-weight: 400;}
.t-white { color: white;}
.t-center { text-align: center;}


.wrapper{
  width:1140px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper_v2{
  width:1140px;
  margin: 0 auto;
  overflow: hidden;
}


section .wrapper{
  padding: 100px 0;
}

.header{
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
  position: fixed;
  top: 0;
	z-index: 10;
	transition: all .5s ease;
}

.header_scrolled{
	background-color: #0f282f;
}


.logo{
  float: left;
}

nav{
  float: right;
	margin-top: 30px;
}

.menuItem{
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.main{
  text-align: center;
  background: url("../images/bg.jpg") center no-repeat;
  background-size: cover;
	color:white;
}

.main_title{
  margin-top:200px;
}

.main_info{
  margin-bottom: 200px;
	font-size:1.5rem;

}

.process{
	text-align: center;
	background-color: #e4f5f9;
	background-size: cover;


}


.processItem{
  float: left;
  width: 29%;
  margin: 0 20px;

}

.processItem img{
  width: 70%;
}

.incol_title{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

.processItem a{
  display: inline-block;
	color:#3999b5;
	text-decoration: none;
}

.blog_section{
	background: url("../images/books.png") center no-repeat;
	background-size:cover;
	}

.rss-box-blogrss{
	font-size: 2.5rem;
	margin-bottom: 100px;
	font-weight: 400;
	position: relative;
	color:white;
	text-align: center;

}

.rss-item{
		list-style-type: none;
		margin-bottom: 200px;
		font-size:1rem;

}

.rss-item a{
		line-height: 50px;
		font-size: 1.5rem;
		text-decoration: none;
		color:#3999b5;
}

.link_blog{
	font-size: 1rem;
	position: relative;
	color:tomato;
	text-align: center;

}

.portfolio{
	text-align: center;
	background-color: #e4f5f9;
}

.press{
	text-align: center;
	border: 1px green solid;
	background-color: #0f282f;
	color:#f4f4ed;

}

blockquote{
	font-size: 45px;
}
.innovation{
	background-color:#e4f5f9;


}
.innovation_img{
	width: 100%;
	height: 350px;
	overflow: hidden;
	margin: 0;
}

footer{
	background-color: #0f282f;
	color: white;
	padding: 25px 0;
	font-size: 15px;
}

@media (min-width: 60rem) {
    .col { float: left;}
    .col.full { width: 100%; }
    .col.two-thirds { width: 66.7%; }
    .col.half { width: 50%; }
    .col.third { width: 33.3%; }
    .col.fourth { width: 25%; }
    .col.three-fourth { width: 75%;}
    .col.fifth { width: 20%; }
    .col.sixth { width: 16.6%; }
    .col.flow-opposite { float: right; }
}
